<ion-view>
    <ion-nav-bar class="bar-positive">
    </ion-nav-bar>
    <ion-nav-buttons side="primary">
      <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-title>
      <h1 class="title">PACKAGE DETAIL</h1>
    </ion-nav-title>

    <ion-content class="detail-main">
    	<ion-list class="list-inset package-detail-list">
    		<div class="item item item-icon-left">
    			<i class="icon ion-person"></i>
    			<input type="text" placeholder="Recipient Name" ng-model="packageInfo.recipientName">
  			</div>
  			<div class="item item item-icon-left">
  				<i class="icon ion-android-phone-portrait"></i>
    			<input type="tel" placeholder="Recipient Contact" ng-model="packageInfo.recipientContact">
  			</div>
  			<div class="item item item-icon-left">
  				<i class="icon ion-compose"></i>
    			<input type="text" placeholder="Remarks (optional)" ng-model="packageInfo.remarks">
  			</div>
    	</ion-list>
    	<ion-list class="list-inset package-detail-list">
    		<div class="item item item-icon-left">
    			<i class="icon ion-clipboard"></i>
    			{{packageType}}
  			</div>
  			<div class="item item item-icon-left">
  				<i class="icon ion-bag"></i>
    			<input type="text" placeholder="Approximate Weight" ng-model="packageInfo.weight">
  			</div>
  			<div class="item item item-icon-left">
  				<i class="icon ion-clock"></i>
    			<input type="datetime" placeholder="Pick Up Time" ng-model="packageInfo.pickUpTime">
  			</div>
    	</ion-list>
    	<!-- <ion-list class="list-inset package-detail-list">
    		<div class="item item item-icon-left">
    			<i class="icon ion-camera"></i>
    			<input type="text" placeholder="Photo">
  			</div>
    	</ion-list> -->
    	<div class="button-bar">
    		<a class="button icon-left ion-chevron-left button-assertive square-button back-button" ui-sref="app.package"></a>
    		<a class="button button-balanced icon-right ion-chevron-right square-button forward-button" ng-click="goToRoutePage()">SET ROUTE</a>
    	</div>
    </ion-content>
</ion-view>
