<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">PACKAGE DETAIL</h1>
    </ion-header-bar>  
    <ion-content>
    	<ion-list class="list-inset package-detail-list">
    		<label class="item item-input">
    			<i class="icon ion-person"></i>
    			<input type="text" placeholder="Recipient Name" ng-model="packageInfo.recipientName">
  			</label>
  			<label class="item item-input">
  				<i class="icon ion-android-phone-portrait"></i>
    			<input type="tel" placeholder="Recipient Contact" ng-model="packageInfo.recipientContact">
  			</label>
  			<label class="item item-input">
  				<i class="icon ion-compose"></i>
    			<input type="text" placeholder="Remarks (optional)" ng-model="packageInfo.remarks">
  			</label>
    	</ion-list>
    	<ion-list class="list-inset package-detail-list">
    		<label class="item item-input">
    			<i class="icon ion-clipboard"></i>
    			<input type="text" ng-model="packageType" readonly="true">
  			</label>
  			<label class="item item-input">
  				<i class="icon ion-bag"></i>
    			<input type="text" placeholder="Approximate Weight" ng-model="packageInfo.weight">
  			</label>
  			<label class="item item-input">
  				<i class="icon ion-clock"></i>
    			<input type="datetime" placeholder="Pick Up Time" ng-model="packageInfo.pickUpTime">
  			</label>
    	</ion-list>
    	<ion-list class="list-inset package-detail-list">
    		<label class="item item-input">
    			<i class="icon ion-camera"></i>
    			<input type="text" placeholder="Photo">
  			</label>
    	</ion-list>
    	<div class="button-bar">
    		<a class="button icon-left ion-chevron-left button-assertive" href="#/app/package"></a>
    		<a class="button button-balanced icon-right ion-chevron-right" ng-click="goToRoutePage()">SET ROUTE</a>
    	</div>
    </ion-content>
</ion-view>