<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Home</h1>
    </ion-header-bar>
	<ion-content class="home-sub-header">
		<div class="home-main">
			<div class="home-main-title">
				<i class="icon ion-android-car title-icon"></i>
				<br>
				Crowdsourced Logistic
			</div>
			<p><button class="button">IMMEDIATE DELIVER</button></p>
			<p><button class="button">EXPRESS DELIVER</button></p>
		</div>
	</ion-content>
	
</ion-view>