<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    	<button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-header-bar>
	<ion-content class="home-sub-header padding">
		<div class="home-main">
			<div class="home-main-title">
				<i class="icon ion-android-car title-icon"></i>
				<br>
				Crowdsourced Logistic
			</div>
		</div>
		<ion-list class="list-inset">
    		<div class="item item item-icon-left">
    			<i class="icon ion-email"></i>
    			<input type="text" placeholder="Email Address">
  			</div>
  			<div class="item item item-icon-left">
  				<i class="icon ion-locked"></i>
    			<input type="password" placeholder="Password">
  			</div>
		</ion-list>
		<br/>
		<button class="button button-block button-calm">SIGN IN</button>
		<button class="button button-block button-dark">Forget Password</button>
		<hr/>
		<br/>
		<p><a class="button icon-left ion-social-facebook button-royal">&nbsp;&nbsp;Login with Facebook</a></p>
		<br>
		<p><a class="button icon-right ion-chevron-right button-dark" ui-sref="app.register">Register Now&nbsp;&nbsp;</a></p>
	</ion-content>
</ion-view>