<ion-content class="has-subheader">
	<ion-list class="list-inset">
		<ion-item class="item-icon-left item-icon-right" href="#/app/home/tabs/pageDeatil">
			<i class="icon ion-document-text"></i> DOCUMENT <i class="icon ion-chevron-right"></i>
		</ion-item>
		<ion-item class="item-icon-left item-icon-right" href="#/app/home/tabs/pageDeatil">
            <i class="icon ion-ios-filing"></i> SMALL PARCEL <i class="icon ion-chevron-right"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" href="#/app/home/tabs/pageDeatil">
            <i class="icon ion-ios-box"></i> MEDIUM PARCEL <i class="icon ion-chevron-right"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" href="#/app/home/tabs/pageDeatil">
            <i class="icon ion-cube"></i> LARGE PARCEL <i class="icon ion-chevron-right"></i>
        </ion-item>
	</ion-list>
</ion-content>