<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">PACKAGE TYPE</h1>
    </ion-header-bar>  
    <ion-content>
    	<ion-list class="package-type-list">
    		<ion-item class="item-icon-left item-icon-right" ng-click="goToDetailPage()">
    			<i class="icon ion-document-text"></i><span class="item-text">DOCUMENT</span><i class="icon ion-chevron-right"></i>
    		</ion-item>
    		<ion-item class="item-icon-left item-icon-right" ng-click="goToDetailPage()">
                <i class="icon ion-ios-filing"></i><span class="item-text">SMALL PARCEL</span><i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" ng-click="goToDetailPage()">
                <i class="icon ion-ios-box"></i><span class="item-text">MEDIUM PARCEL</span><i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" ng-click="goToDetailPage()">
                <i class="icon ion-cube"></i><span class="item-text">LARGE PARCEL</span><i class="icon ion-chevron-right"></i>
            </ion-item>
    	</ion-list>
    </ion-content>
</ion-view>