<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    	<button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    	<h1 class="title">Register</h1>
    </ion-header-bar>
	<ion-content class="home-sub-header padding">
		<div class="home-main">
			<div class="home-main-title">
				<i class="icon ion-person title-icon"></i>
			</div>
		</div>
		<ion-list class="list-inset">
    		<div class="item item item-icon-left">
    			<i class="icon ion-email"></i>
    			<input type="text" placeholder="Email Address">
  			</div>
  			<div class="item item item-icon-left">
  				<i class="icon ion-person"></i>
    			<input type="text" placeholder="Name">
  			</div>
		</ion-list>
		<br/>
		<ion-list class="list-inset">
    		<div class="item item item-icon-left">
    			<i class="icon ion-locked"></i>
    			<input type="text" placeholder="Password">
  			</div>
  			<div class="item item item-icon-left">
  				<i class="icon ion-locked"></i>
    			<input type="text" placeholder="Retype Password">
  			</div>
		</ion-list>
		<br/>
		<ion-list class="list-inset">
    		<div class="item item item-icon-left">
    			<i class="icon ion-ios-telephone"></i>
    			<input type="text" placeholder="Contact">
  			</div>
		</ion-list>

		<button class="button button-block button-calm">Register</button>
		<button class="button button-block button-assertive" ui-sref="app.login">Cancel</button>
	</ion-content>
</ion-view>