<ion-content class="has-subheader">
	<ion-list class="list-inset">
		<ion-item class="item-icon-left">
			<i class="icon ion-ios-location"></i>
			<label class="item item-input">
    			<input type="text" placeholder="Pick up from">
  			</label>
		</ion-item>
		<ion-item class="item-icon-left">
			<i class="icon ion-ios-location"></i>
			<label class="item item-input">
    			<input type="text" placeholder="Destination">
  			</label>
		</ion-item>
	</ion-list>
	<map on-create="initMap(map)"></map>
</ion-content>