<ion-view>
	<ion-nav-bar class="bar-positive">
	</ion-nav-bar>
	<ion-nav-buttons side="primary">
		<button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
	</ion-nav-buttons>
	<ion-nav-title>
		<h1 class="title">SET ROUTE</h1>
	</ion-nav-title>

	<ion-content class="route-main padding">
		<ion-list class="list-inset">
			<div class="item item-divider">
				Pick up address
			</div>
			<div class="item item-text-wrap">
				<label class="item item-input">
	    			<input type="number" placeholder="Postal code" ng-change="getAddressFromPostal('from')" ng-model-options="{updateOn: 'blur'}" ng-model="deliveryInfo.from.postal" required>
	  		</label>
			</div>
			<div ng-if="isShowFromAddressDetail">
				<div class="item item-text-wrap">
					<label class="item item-input">
		    			<input type="text" placeholder="Address" ng-model="deliveryInfo.from.street" required>
		  		</label>
				</div>
				<div class="item item-text-wrap">
					<label class="item item-input">
		    			<input type="text" placeholder="Unit / Place (optional)" ng-model="deliveryInfo.from.extra">
		  		</label>
				</div>
			</div>
			<div class="item item-divider">
				Deliver Address
			</div>
			<div class="item item-text-wrap">
				<label class="item item-input">
	    			<input type="number" placeholder="Postal code" ng-change="getAddressFromPostal('to')" ng-model-options="{updateOn: 'blur'}" ng-model="deliveryInfo.to.postal" required>
	  		</label>
			</div>
			<div ng-if="isShowDeliverAddressDetail">
				<div class="item item-text-wrap">
					<label class="item item-input">
		    			<input type="text" placeholder="Address" ng-model="deliveryInfo.to.street" required>
		  		</label>
				</div>
				<div class="item item-text-wrap">
					<label class="item item-input">
		    			<input type="text" placeholder="Unit / Place name (optional)" ng-model="deliveryInfo.to.extra">
		  		</label>
				</div>
			</div>
			<!-- <ion-item class="item-icon-left">
				<i class="icon ion-ios-location"></i>
				<label class="item item-input">
	    			<input id="to-address" type="text" placeholder="Destination">
	  		</label>
			</ion-item> -->
			<div class="item item-divider">
				Payment
			</div>
    		<div class="item item-icon-left">
    			<i class="icon ion-bookmark"></i>
    			<input type="number" placeholder="Est. Fare (SGD)" ng-model="deliveryInfo.fare" required>
  			</div>
  			<div class="item item-icon-left">
  				<i class="icon ion-help-buoy"></i>
    			<input type="text" placeholder="Promo Code" ng-model="deliveryInfo.promocode" required>
  			</div>
  			<div class="item item-icon-left  item-select">
					<i class="icon ion-calculator"></i>
          <div class="input-label">Payment Mode</div>
          <select ng-model="deliveryInfo.payment">
            <option value="Credit Card">Credit Card</option>
            <option value="Paypal">Paypal</option>
            <option value="Cash">Cash</option>
          </select>

  			</div>
    	</ion-list>
    	<div class="button-bar">
    		<a class="button icon-left ion-chevron-left button-assertive back-button" ui-sref="app.detail"></a>
    		<a class="button button-balanced icon-right ion-chevron-right forward-button" ng-click="goToSearchPage()">FIND DRIVER</a>
    	</div>
	</ion-content>
</ion-view>
