<ion-view>
	<ion-header-bar align-title="center" class="bar-positive">
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">CONFIRM ORDER</h1>
  	</ion-header-bar>
	<ion-content class="route-main padding">
		<!--Package Info-->
		<div class="list card">
			<div class="item item-divider center-text">Package Info</div>
			<div class="item item-divider">Package Type</div>
			<div class="item item-text-wrap">{{packageType}}</div>
			<div class="item item-divider">Recipient Name</div>
			<div class="item item-text-wrap">{{recipientName}}</div>
			<div class="item item-divider">Recipient Contact</div>
			<div class="item item-text-wrap">{{recipientContact}}</div>
			<div class="item item-divider">Remarks</div>
			<div class="item item-text-wrap">{{remarks}}</div>
			<div class="item item-divider">Weight</div>
			<div class="item item-text-wrap">{{weight}} KG</div>
			<div class="item item-divider">Pick Up Time</div>
			<div class="item item-text-wrap">{{pickUpTime}}</div>
		</div>

		<!--Delivery Info-->
		<div class="list card">
			<div class="item item-divider center-text">Delivery Info</div>
			<div class="item item-divider">Delivery Type</div>
			<div class="item item-text-wrap">{{deliveryType}}</div>
			<div class="item item-divider">From</div>
			<div class="item item-text-wrap">
				<div>{{from.extra}}</div>
				<div>{{from.street}}</div>
				<div>{{from.postal}}</div>
			</div>
			<div class="item item-divider">To</div>
			<div class="item item-text-wrap">
				<div>{{to.extra}}</div>
				<div>{{to.street}}</div>
				<div>{{to.postal}}</div>
			</div>
			<div class="item item-divider">Fare</div>
			<div class="item item-text-wrap">{{fare}}</div>
			<div class="item item-divider">Promo. Code</div>
			<div class="item item-text-wrap">{{promocode}}</div>
			<div class="item item-divider">Payment Mode</div>
			<div class="item item-text-wrap">{{payment}}</div>
		</div>

		<button class="button button-block button-positive" ng-click="sendRequest()">Send Order</button>
		<button class="button button-block button-assertive" ng-click="cancelOrder()">Cancel</button>
	</ion-content>
</ion-view>
