.orders-main {
	.ion-clock {
		color: #B01522;
	}

	.ion-forward {
		color: #FDAF0B;
	}

	.ion-log-out {
		color: #FFEB3B;
	}

	.ion-checkmark-round {
		color: #7DBF31;
	}

	.status-red {
		color: #B01522;
	}

	.status-orange {
		color: #FDAF0B;
	}

	.status-yellow {
		color: #FFEB3B;
	}

	.status-green {
		color: #7DBF31;
	}
}