.orders-main {
	.ion-clock {
		color: #FF7043;
	}

	.ion-forward {
		color: #FFB74D;
	}

	.ion-log-out {
		color: #FFEB3B;
	}

	.ion-checkmark-round {
		color: #7DBF31;
	}

	.status-red {
		color: #B01522;
	}

	.status-orange {
		color: #FDAF0B;
	}

	.status-yellow {
		color: #FFEB3B;
	}

	.status-green {
		color: #7DBF31;
	}

	.order-title {
		background: $positive;
		color: white;
	}
}