.account-sub-header {
	width: 100%;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	.account-main {
		.account-main-title {
			.p {
				.avatar {
			    	width: 30%;
			    	height: 30%;
			    	padding-top: 10%;
			    }
		    }
		}

		.list {
			text-align: left;
		}
	}
}